executor.name = 'local'

// Define the resources required for the pipeline
process {
    withName: 'fastqc' {
        container = 'staphb/fastqc:latest'
        cpus      = 4
        memory    = '4GB'
        time      = '1h'
    }

    withName: 'multiqc' {
        container = 'ewels/multiqc:latest'
        cpus      = 1
        memory    = '2GB'
        time      = '1h'
    }

    withName: 'porechop' {
        container = "ahr1/porechop_abi:mamba"
        cpus      = 16
        memory    = '32GB'
        time      = '6h'
    }

    withName: 'align' {
        container = 'ahr1/minimap2:latest'
        cpus      = 12
        memory    = '32GB'
        time      = '2h'
    }

    withName: 'sashimi' {
        container = 'guigolab/ggsashimi:latest'
        cpus      = 4
        memory    = '8GB'
        time      = '2h'
    }

}

singularity {
    enabled     = true
    autoMounts  = true
    cacheDir    = "${baseDir}/containers"
}

docker.enabled = true
singularity.enabled = false
